@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

body{
    font-family:monospace;
    margin:0;
    padding: 0;
}
:root{
    --primary-color:#1A324C;
    --secondary-color:#1E40AF;
    --section-color:#FEF3C7;
    --off-white:#F3F4F6;
    --x-link-color:#1d3abe;
}
.navigation{
    font-family:'Montserrat', sans-serif;
    color:white;
    padding: 1rem;
    background-color: var(--primary-color);
}
.nav-name {
    font-weight: 550;
    font-size: x-large;
}
.no-bullet{
    list-style: none;
}
.nav-list{
    text-align:right;
}

.inline-list{
    display:inline;
    padding:1rem;
}
.link{
    text-decoration: none;
    color:white;
}
.x-link{
    text-decoration: none;
    color:var(--x-link-color);
}
.about_me{
    text-justify: inter-word;
}
.hero-img{
    max-width: 350px;
    display: block;
    margin:auto;
    padding:2rem;
}
.hero-heading{
    text-align: center;
    font-size: 2rem;
    color:#1A324C
}
.section{
    padding:2rem;
    font-family: monospace;
    font-size: large;
}
.ow{
    background-color: var(--off-white);
}
.section > p {
    line-height: 4px;
}
.container{
    padding: 0rem 1rem;
}

.container-center{
    max-width:600px;
    margin:auto;

}
section h1{
    text-align: center;
}
.footer{
    background-color:var(--primary-color);
    color:white;
    padding:2rem 1rem;
    text-align: center;
    border-top-left-radius:0.5rem;
    border-top-right-radius:0.5rem;
}
.footer-list{
    text-align:center;
    padding:2rem;
}
.dropbtn {
    color: white;
    background-color:var(--primary-color);
    font-size: 16px;
    border: none;
    cursor: pointer;
}
  
.dropdown {
position: relative;
display: inline-block;
background-color:var(--primary-color);
}

.dropdown-content {
display: none;
position: absolute;
background-color: #f9f9f9;
min-width: 130px;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
z-index: 1;
text-align:left;
}

.dropdown-content a {
color: black;
padding: 10px;
text-decoration: none;
display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
display: block;
}

.dropdown:hover .dropbtn {
background-color:var(--primary-color);
}
