@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
:root{
    --primary-color:#8B5CF6;
    --off-white:#F3F4F6;
}
body{
    font-family:'Montserrat', sans-serif;
    margin:0;
}


.navigation{
    color:white;
    padding: 1rem;
    background-color: var(--primary-color);
    border-bottom-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}
.nav-name{
    font-weight: bold;
}
.no-bullet{
    list-style: none;
}
.nav-list{
    text-align:right;
}

.inline-list{
    display:inline;
    padding:1rem;
}
.link{
    text-decoration: none;
    color:white;
}
.link-primary{
    padding:0.5rem;
    border-radius:0.5rem;
    background-color: var(--primary-color);
    
    
}
.section{
    padding:2rem;
}
.ow{
    background-color: var(--off-white);
}
.container{
    display: flex;
    justify-content: flex-start;
}
.div-details{
    max-width:900px;
    margin-left:100px;
    
}
.div-extra{
    margin-bottom: 30px;
}
.image{
    width:400px;
    height: 300px;
}
/* .container{
        padding: 0rem 1rem;
}

.container-center{
    

} */
.footer{
    background-color:var(--primary-color);
    color:white;
    padding:4rem 1rem;
    text-align: center;
    border-top-left-radius:1rem;
    border-top-right-radius:1rem;
}
.footer-list{
    text-align:center;
    padding:2rem;
}
@media  screen and (max-width:600px) {
    .nav-list{
        text-align: right;

    }
    .inline-list{
        display:block;
        padding:1rem;
    }
}