@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

body{
    font-family:'Montserrat', sans-serif;
    margin:0;
}
:root{
    --primary-color:#8B5CF6;
    --section-color:#FEF3C7;
    --off-white:#F3F4F6;
}
.navigation{
    color:white;
    padding: 1rem;
    background-color: var(--primary-color);
    border-bottom-left-radius: 1rem;
}
.nav-name{
    font-weight: bold;
}
.no-bullet{
    list-style: none;
}
.nav-list{
    text-align:right;
}

.inline-list{
    display:inline;
    padding:1rem;
}
.link{
    text-decoration: none;
    color:white;
}
.link-primary{
    padding:0.5rem;
    border-radius:0.5rem;
    background-color: var(--primary-color);
}
.image-head{
   max-width: 350px;
   display: block;
   margin:auto;
   padding:2rem;
}


.link-secondary{
    color:var(--primary-color);
    padding:0.5rem;
    border-radius: 0.5rem;
    border: 1px solid var(--primary-color);
    
}
.section{
    padding:2rem;
}
.container{
    padding: 0rem 2rem;
}

.container-center{
    max-width:600px;
    margin:auto;

}
.head{
    text-align: center;
    padding-bottom: 2rem;
}
.footer{
    background-color:var(--primary-color);
    color:white;
    margin-top:2rem;
    padding:4rem 1rem;
    text-align: center;
    border-top-left-radius:1rem;
    border-top-right-radius:1rem;
}
.footer-list{
    text-align:center;
    padding:2rem;
}
@media  screen and (max-width:600px) {
    .nav-list{
        text-align: right;

    }
    .inline-list{
        display:block;
        padding:1rem;
    }
}