@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

body{
    font-family:'Montserrat', sans-serif;
    margin:0;
    padding: 0;
}
:root{
    --primary-color:#1A324C;
    --secondary-color:#1E40AF;
    --section-color:#FEF3C7;
    --off-white:#F3F4F6;
}

.navigation{
    color:white;
    padding: 1rem;
    background-color: var(--primary-color);
    border-bottom-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}
.nav-name{
    font-weight: 300;
    font-size: larger;
}
.no-bullet{
    list-style: none;
}
.nav-list{
    text-align:right;
}

.inline-list{
    display:inline;
    padding:1rem;
}
.hero-img{
    max-width: 350px;
    display: block;
    margin:auto;
    padding:2rem;
}
.hero-change{
    color:var(--secondary-color);
}
.hero-heading{
    text-align: center;
    font-size: 2rem;
    color:var(--primary-color);
}
.link{
    text-decoration: none;
    color:white;
}
.section{
    padding:2rem;
}
.ow{
    background-color: var(--off-white);
}
.container{
    padding: 0rem 1rem;
}

.container-center{
    max-width:600px;
    margin:auto;

}
section h1{
    text-align: center;
}




.link-primary{
    padding:0.5rem;
    border-radius:0.5rem;
    background-color: var(--primary-color);
    
    
}


.link-secondary{
    color:var(--primary-color);
    padding:0.5rem;
    border-radius: 0.5rem;
    border: 1px solid var(--primary-color);
    
}



.footer{
    background-color:var(--primary-color);
    color:white;
    margin-top:2rem;
    padding:2rem 1rem;
    text-align: center;
    border-top-left-radius:1rem;
    border-top-right-radius:1rem;
}
.footer-list{
    text-align:center;
    padding:1rem 2rem;
}
@media  screen and (max-width:600px) {
    .nav-list{
        text-align: right;

    }
    .inline-list{
        display:block;
        padding:1rem;
    }
}